<div class="mui-panel navbar-custom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <ul ng-show="!authenticated">
                        <li><a class="navbar-login" href="#/login">Login</a></li>
                    </ul>
                    <ul ng-show="authenticated" style="position: relative;">
                        <li class="navbar-user" data-mui-toggle="dropdown">Hi {{email}}! <i class="fa fa-caret-down"></i></li>
                        <ul class="mui-dropdown__menu">
                            <li><a href="#/dashboard">Profile</a></li>
                            <li><a href="#/cart">Cart</a></li>
                            <li><a href="#/prescription">Prescriptions</a></li>
                            <li ng-click="logout();"><a>Logout</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h2><b>InstaCure</b></h2></div>
            <div class="col-xs-10 col-md-8 row navbar-custom-search">
                <input type="" name="" placeholder="search for medicines" ng-model="key" class="col-xs-10 navbar-input">
                <a href="#/result/{{key}}" class="col-xs-1 mui-btn navbar-button"><i class="fa fa-search"></i></a>
            </div>
            <div class="col-xs-2">
                <button class="mui-btn navbar-button" type="file" ngf-select="upload($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                    <i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="mui-panel">
        <ul>
            <h1>Welcome {{user_data.name}}!</h1>
            <li class="row profile-panel">
                <span class="col-xs-6"><b>Name:</b></span>
                <div class="mui-textfield col-xs-6" style="margin: 0px; padding: 0px;">
                    <input type="text" ng-model="user_data.name">
                </div>
            </li>
            <li class="row profile-panel">
                <span class="col-xs-6"><b>Username:</b></span>
                <div class="mui-textfield col-xs-6" style="margin: 0px; padding: 0px;">
                    <input type="text" ng-model="user_data.id">
                </div>
            </li>
            <li class="row profile-panel">
                <span class="col-xs-6"><b>Email:</b></span>
                <div class="mui-textfield col-xs-6" style="margin: 0px; padding: 0px;">
                    <input type="text" ng-model="user_data.email">
                </div>
            </li>
            <li class="row profile-panel">
                <span class="col-xs-6"><b>Phone Number:</b></span>
                <div class="mui-textfield col-xs-6" style="margin: 0px; padding: 0px;">
                    <input type="text" ng-model="user_data.pno">
                </div>
            </li>
            <li class="row profile-panel">
                <span class="col-xs-6"><b>Gender:</b></span>
                <div class="mui-textfield col-xs-6" style="margin: 0px; padding: 0px;">
                    <input type="text" ng-model="user_data.gender">
                </div>
            </li>
            <li class="row profile-panel">
                <span class="col-xs-6"><b>Date of Birth:</b></span>
                <div class="mui-textfield col-xs-6" style="margin: 0px; padding: 0px;">
                    <input type="text" ng-model="user_data.dob">
                </div>
            </li>
            <li class="row profile-panel">
                <span class="col-xs-6"><b>Area:</b></span>
                <div class="mui-textfield col-xs-6" style="margin: 0px; padding: 0px;">
                    <input type="text" ng-model="user_data.area">
                </div>
            </li>
            <li class="row profile-panel">
                <span class="col-xs-6"><b>Locality:</b></span>
                <div class="mui-textfield col-xs-6" style="margin: 0px; padding: 0px;">
                    <input type="text" ng-model="user_data.locality">
                </div>
            </li>
            <li class="row profile-panel">
                <span class="col-xs-6"><b>House Number:</b></span>
                <div class="mui-textfield col-xs-6" style="margin: 0px; padding: 0px;">
                    <input type="text" ng-model="user_data.houseno">
                </div>
            </li>
            <li class="row profile-panel">
                <span class="col-xs-6"><b>City:</b></span>
                <div class="mui-textfield col-xs-6" style="margin: 0px; padding: 0px;">
                    <input type="text" ng-model="user_data.city">
                </div>
            </li>
            <li class="row profile-panel">
                <span class="col-xs-6"><b>Profile Pic:</b></span>
                <div class="mui-textfield col-xs-6" style="margin: 0px; padding: 0px;">
                    <input type="text" ng-model="user_data.pphoto">
                </div>
            </li>
            <button class="pull-right mui-btn" style="margin-right: 15px;">Save</button>
        </ul>
    </div>
</div>
