<div class="mui-panel navbar-custom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <ul ng-show="!authenticated">
                        <li><a class="navbar-login" href="#/login">Login</a></li>
                    </ul>
                    <ul ng-show="authenticated" style="position: relative;">
                        <li class="navbar-user" data-mui-toggle="dropdown">Hi {{email}}! <i class="fa fa-caret-down"></i></li>
                        <ul class="mui-dropdown__menu">
                            <li><a href="#/dashboard">Profile</a></li>
                            <li><a href="#/cart">Cart</a></li>
                            <li><a href="#/prescription">Prescriptions</a></li>
                            <li ng-click="logout();"><a>Logout</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h2><b>InstaCure</b></h2></div>
            <div class="col-xs-10 col-md-8 row navbar-custom-search">
                <input type="" name="" placeholder="search for medicines" ng-model="key" class="col-xs-10 navbar-input">
                <a href="#/result/{{key}}" class="col-xs-1 mui-btn navbar-button"><i class="fa fa-search"></i></a>
            </div>
            <div class="col-xs-2">
                <button class="mui-btn navbar-button" type="file" ngf-select="upload($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                    <i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="c in presc">
    {{c}}
</div>
